<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clinics</title>
</head>
<body>
    
    {% for clinic in clinics %}
        {{ clinic.clinic_name }}<br>
        {{ clinic.address_1 }}<br>
        {{ clinic.address_2 }}<br>
        {{ clinic.locality }}<br>
        {{ clinic.town_district }}<br>
        {{ clinic.county }}<br>
        {{ clinic.postcode }}<br>
        {{ clinic.main_phone }}<br>
    {% endfor %}

</body>
</html>