{% extends "base.html" %}
{% block content %}
    
        {% for clinic in clinics %}
            {{ clinic.clinic_name }}<br>
            {{ clinic.address_1 }}<br>
            {{ clinic.address_2 }}<br>
            {{ clinic.locality }}<br>
            {{ clinic.town_district }}<br>
            {{ clinic.county }}<br>
            {{ clinic.postcode }}<br>
            {{ clinic.main_phone }}<br>
        {% endfor %}
    <div id="map">Map</div>
    {% block scripts %}
    {% endblock %}
{% endblock %}