{% extends "base.html" %}
{% block content %}
    
    <h3 class="light-blue-text text-darken-4 center-align">Locate a Clinic or GP</h3>

    <div class="row card-panel grey lighten-5">
        <form action="{{ url_for('search') }}" method="post" class="col s12">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12 m8">
                    <i class="fas fa-search prefix light-blue-text text-darken-4"></i>
                    <input type="text" name="query" id="query" minlength="3" class="validate" required>
                    <label for="query">Search Clinic i.e. Clinic Name or GP Name or Address</label>
                </div>
                <div class="col s12 m4">
                    <a href="{{ url_for('get_clinics') }}" class="red btn text-shadow">Reset</a>
                    <button type="submit" class="light-blue darken-1 btn text-shadow" >
                        <i class="fas fa-search left"></i> Search
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div id="map">Map</div>
    <div id="demo">Map</div>

    {% if clinics|length > 0 %}
        {% for clinic in clinics %}
            <!-- x.innerHTML = "This is me!"; -->
        {% endfor %}
    {% else %}
        <h3 class="red-text text-darken-4 center-align">No Results Found</h3>
    {% endif %}
{% endblock %}
{% block javascript %}
    <script>
        var mymap
        var popup = L.popup();

        // Initialize and add the map
        function initMap() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition, showError);
            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        }

        function showPosition(position) {
            var greenIcon = new L.Icon({
                iconUrl: '../../static/img/marker-icon-green.png',
                shadowUrl: '../../static/img/marker-shadow.png',
                iconSize: [25, 41],
                iconAnchor: [12, 41],
                popupAnchor: [1, -34],
                shadowSize: [41, 41]
            });

            var redIcon = new L.Icon({
                iconUrl: '../../static/img/marker-icon-red.png',
                shadowUrl: '../../static/img/marker-shadow.png',
                iconSize: [25, 41],
                iconAnchor: [12, 41],
                popupAnchor: [1, -34],
                shadowSize: [41, 41]
            });

            // The map, centered at my position
            myposition = { lat: position.coords.latitude, lng: position.coords.longitude };
            mymap = L.map('map').setView([position.coords.latitude, position.coords.longitude], 15);
            // L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            //     attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            // }).addTo(mymap);

            L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1Ijoiam9uMi12ZXJhLWNydXoiLCJhIjoiY2tvNXlzMHBoMGtlMjJ2bnpjNjBoeWR0aSJ9.knP7IBbLyCl5RKHUJlaOIg', {
                maxZoom: 18,
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
                    'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                id: 'mapbox/streets-v11',
                tileSize: 512,
                zoomOffset: -1
            }).addTo(mymap);

            L.marker([53.39172, -6.27659], { icon: redIcon }).addTo(mymap)
                .bindPopup('A pretty CSS3 popup.<br> Easily customizable.')
                .openPopup();
                
            L.marker([position.coords.latitude, position.coords.longitude], { icon: greenIcon }).addTo(mymap)
                .bindPopup('You are here!')
                .openPopup();
        }

        function addMarker(latitude, longitude, clinicinfo) {
            L.marker([latitude, longitude], { icon: redIcon }).addTo(mymap)
                .bindPopup(clinicinfo)
                .openPopup();
            x.innerHTML = "Successful Call";
        }

        function onMapClick(e) {
            popup
                .setLatLng(e.latlng)
                .setContent("You clicked the map at " + e.latlng.toString())
                .openOn(mymap);
        }

        mymap.on('click', onMapClick);

        function showError(error) {
        switch(error.code) {
            case error.PERMISSION_DENIED:
            x.innerHTML = "User denied the request for Geolocation."
            break;
            case error.POSITION_UNAVAILABLE:
            x.innerHTML = "Location information is unavailable."
            break;
            case error.TIMEOUT:
            x.innerHTML = "The request to get user location timed out."
            break;
            case error.UNKNOWN_ERROR:
            x.innerHTML = "An unknown error occurred."
            break;
        }
        }
    </script>
{% endblock %}
